<header>
    <div class="container-fluid mt-4">
        <div class="containerHeader">
            <div class="containerHeader--images">
                <img class="containerHeader--images_back" src="./assets/images/back.jpg" alt="persona">
                <img class="containerHeader--images_person" src="./assets/images/pjs.png" alt="persona">
                <img class="containerHeader--images_pencil pencil" src="./assets/images/pencil.png" alt="lapiz">
            </div>
            <div class="containerHeader--content">
                <h1>Pablo J. Salvi</h1>
                <h2>Tecnico en Informatica</h2>
                <h3>Buenos Aires - Bahia Blanca</h3>
                <button type="button" class="btn btn-primary">Añadir seccion</button>
            </div>
        </div>
    </div>
</header>