<section>
    <div class="container-fluid">
        <div class="persInf mt-4 mb-4 ">
            <div class="persInf--title mt-1">
                <h2 class="persInf--title_title">Informacion Personal</h2>
                <img class="persInf--title_pencil pencil" src="./assets/images/pencil.png" alt="lapiz">
            </div>
            <div class="persInf--content">
                <div class="persInf--content--item">
                    <img class="persInf--content--item_num pencil" src="./assets/images/num.png" alt="lapiz">
                    <p class="persInf--content--item_text">Estado civil: {{dataPortfolio.personalInformation.estadoCivil}}.</p>
                </div>
            </div>
            <div class="persInf--content--item">
                <img class="persInf--content--item_num pencil" src="./assets/images/num.png" alt="lapiz">
                <p class="persInf--content--item_text">Nacionalidad: {{dataPortfolio.personalInformation.nacionalidad}}.</p>
            </div>
            <div class="persInf--content--item">
                <img class="persInf--content--item_num pencil" src="./assets/images/num.png" alt="lapiz">
                <p class="persInf--content--item_text">Edad: {{dataPortfolio.personalInformation.edad}}.</p>
            </div>
            <div class="persInf--content--item">
                <img class="persInf--content--item_num pencil" src="./assets/images/num.png" alt="lapiz">
                <p class="persInf--content--item_text">DNI: {{dataPortfolio.personalInformation.dni}}.</p>
            </div>
            <div class="persInf--content--item">
                <img class="persInf--content--item_num pencil" src="./assets/images/num.png" alt="lapiz">
                <p class="persInf--content--item_text">Domicilio: {{dataPortfolio.personalInformation.domicilio}}.</p>
            </div>
            <div class="persInf--content--item">
                <img class="persInf--content--item_num pencil" src="./assets/images/num.png" alt="lapiz">
                <p class="persInf--content--item_text">Codigo Postal: {{dataPortfolio.personalInformation.codigoPostal}}.</p>
            </div>
            <div class="persInf--content--item">
                <img class="persInf--content--item_num pencil" src="./assets/images/num.png" alt="lapiz">
                <p class="persInf--content--item_text">CUIL: {{dataPortfolio.personalInformation.cuil}}.</p>
            </div>
            <div class="persInf--content--item">
                <img class="persInf--content--item_num pencil" src="./assets/images/num.png" alt="lapiz">
                <p class="persInf--content--item_text">Correo electronico: {{dataPortfolio.personalInformation.correo}}.</p>
            </div>
            <div class="persInf--content--item">
                <img class="persInf--content--item_num pencil" src="./assets/images/num.png" alt="lapiz">
                <p class="persInf--content--item_text">Telefonos: {{dataPortfolio.personalInformation.telefonos}}.</p>
            </div>
        </div>
    </div>
</section>