<section>
    <div class="container-fluid">
        <div class="persInf mt-4 mb-4 ">
            <div class="persInf--title mt-1">
                <h2 class="persInf--title_title">Informacion Personal</h2>
                <img class="persInf--title_pencil pencil" src="./assets/images/pencil.png" alt="lapiz">
            </div>
            <div class="persInf--content">
                <div class="persInf--content--item">
                    <img class="persInf--content--item_num pencil" src="./assets/images/num.png" alt="lapiz">
                    <p class="persInf--content--item_text">Estado civil: Casado.</p>
                </div>
            </div>
            <div class="persInf--content--item">
                <img class="persInf--content--item_num pencil" src="./assets/images/num.png" alt="lapiz">
                <p class="persInf--content--item_text">Nacionalidad: Argentino.</p>
            </div>
            <div class="persInf--content--item">
                <img class="persInf--content--item_num pencil" src="./assets/images/num.png" alt="lapiz">
                <p class="persInf--content--item_text">Edad: 36.</p>
            </div>
            <div class="persInf--content--item">
                <img class="persInf--content--item_num pencil" src="./assets/images/num.png" alt="lapiz">
                <p class="persInf--content--item_text">DNI: 31.884.267.</p>
            </div>
            <div class="persInf--content--item">
                <img class="persInf--content--item_num pencil" src="./assets/images/num.png" alt="lapiz">
                <p class="persInf--content--item_text">Domicilio: Iriart 448.</p>
            </div>
            <div class="persInf--content--item">
                <img class="persInf--content--item_num pencil" src="./assets/images/num.png" alt="lapiz">
                <p class="persInf--content--item_text">Codigo Postal: 2804.</p>
            </div>
        </div>
    </div>
</section>