<section>
    <div class="container-fluid">
        <div class="education mt-4 mb-4 ">
            <div class="education--title mt-1">
                <h2 class="education--title_title">Educacion</h2>
                <img class="education--title_pencil pencil" src="./assets/images/pencil.png" alt="lapiz">
            </div>
            <div class="education--content" *ngFor="let educationItem of dataPortfolio">
                <div>
                    <img class="education--content--img" src="{{educationItem.imageIcon}}" alt="college">
                </div>
                <div class="education--content--text">
                    <h3>{{educationItem.educationalEntity}}</h3>
                    <p>{{educationItem.locationAndType}}</p>
                    <p>Titulo obtenido: <span>"{{educationItem.obtainedTitle}}"</span></p>
                </div>
            </div>
        </div>
    </div>
</section>